.general-card {
  display: flex;
  flex: 1 1 0;
  padding: 30px;
  min-width: 220px;
  box-sizing: border-box;
  gap: 10px;
}

.first-card {
  background-color: blue;
  padding: 30px;
  color: whitesmoke;
  border-radius: 10px;
}

.second-card {
  background-color: red;
  padding: 30px;
  color: whitesmoke;
  border-radius: 10px;
}

.third-card {
  background-color: lightblue;
  padding: 30px;
  color: whitesmoke;
  border-radius: 10px;
}
.fourth-card {
  background-color: black;
  padding: 30px;
  color: whitesmoke;
  border-radius: 10px;
}
/* @media (max-width: 550px) {
  .general-card {
    flex-direction: column;
  }
} */
@media (max-width: 768px) {
  .general-card {
    flex-direction: column;
  }
}
/* @media (max-width: 920px) {
  .general-card {
    flex-direction: column;
  }
} */
